
@{
    ViewBag.Title = "ThankYou";
}

<div class="panel panel-success panel-title" id="thanks">Thank you for visiting.</div>
<style>
    #thanks {
        width: 50%;
        text-align: center;
        margin: auto;
        font-size: x-large;
        border: none;
    }
</style>

